<div><%= @recipe.fields[:title] %></div>
<div class="recipe-image">
  <%= image_tag @recipe.fields[:photo].url %>
</div>
<div>
  <% @recipe.fields[:tags]&.each do |tag| %>
    <%= tag.fields[:name] %>
  <% end %>
</div>
<div><%= @recipe.fields[:description] %></div>
<div><%= chef_name(@recipe) %></div>

